USE [master]
GO
/****** Object:  Database [QLSieuThi]    Script Date: 29/04/2018 07:30:39 PM ******/
CREATE DATABASE [QLSieuThi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLSieuThi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSieuThi.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLSieuThi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\QLSieuThi_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLSieuThi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLSieuThi]
GO
/****** Object:  StoredProcedure [dbo].[BanHang]    Script Date: 29/04/2018 07:30:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[BanHang]
(
	@MaHD NCHAR(10),
	@MaNV NCHAR(10),
	@MaKH NCHAR(10),
	@NgayLap DATE,
	@MaHH NCHAR(10),
	@SoLuong INT
)
AS
BEGIN
	DECLARE @tien INT
	SELECT @tien = @SoLuong * hh.GiaBan
	FROM dbo.ChiTietHoaDon ct, dbo.HangHoa hh
	WHERE ct.MaHH = hh.MaHH

	INSERT INTO dbo.HoaDon 
	        ( MaHD ,
	          MaNV ,
	          MaKH ,
	          Ngaylap
	        )
	VALUES  ( @MaHD , -- MaHD - char(10)
	          @MaNV , -- MaNV - char(10)
	          @MaKH , -- MaKH - char(10)
	          @NgayLap  -- Ngaylap - datetime
	        )

	INSERT INTO dbo.ChitietHoaDon
	VALUES  (
	          @MaHD, -- MaHD - char(10)
	          @MaHH, -- MaHH - char(15)
	          @SoLuong , -- soluong - int
			  @tien
	          )

END


GO
/****** Object:  StoredProcedure [dbo].[Proc_ThemKH]    Script Date: 29/04/2018 07:30:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_ThemKH]
(
	@Makh nchar(10),
	@Tenkh nvarchar(50),
	@Tuoi INT,
	@GioiTinh NVARCHAR(10)
)
as
begin 
INSERT INTO KhachHang VALUES( @Makh, @Tenkh, @GioiTinh,@Tuoi)
end
GO
/****** Object:  StoredProcedure [dbo].[SP_SuaKhachHang]    Script Date: 29/04/2018 07:30:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[SP_SuaKhachHang]
(
	@Makh nchar(10),
	@Tenkh nvarchar(50),
	@Tuoi INT,
	@GioiTinh NVARCHAR(10)
)
as
begin 
update KhachHang set MaKH =@Makh  , TenKH=@Tenkh ,TuoiKH = @Tuoi , GioiTinh =@GioiTinh where MaKH = @Makh
end
GO
/****** Object:  StoredProcedure [dbo].[ThemCTHD]    Script Date: 29/04/2018 07:30:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ThemCTHD]
(
	@MaHD NCHAR(10),
	@MaHH NCHAR(10),
	@SoLuong INT
)
AS
BEGIN
	DECLARE @tien INT
	SELECT @tien = @SoLuong * hh.GiaBan
	FROM dbo.ChiTietHoaDon ct, dbo.HangHoa hh
	WHERE ct.MaHH = hh.MaHH

	INSERT INTO dbo.ChitietHoaDon
	VALUES  (
	          @MaHD, -- MaHD - char(10)
	          @MaHH, -- MaHH - char(15)
	          @SoLuong , -- soluong - int
			  @tien
	          )
END
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 29/04/2018 07:30:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaHH] [nchar](15) NOT NULL,
	[SoLuong] [nchar](10) NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [CTHD_MACTHD_PK] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC,
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HangHoa]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHoa](
	[MaHH] [nchar](15) NOT NULL,
	[TenHH] [nvarchar](50) NULL,
	[ChungLoai] [nvarchar](30) NULL,
	[DonViTinh] [nvarchar](10) NULL,
	[TrongLuong] [int] NULL,
	[GiaBan] [int] NULL,
	[NoiSX] [nvarchar](30) NULL,
	[HSD] [date] NULL,
 CONSTRAINT [HH_MAHH_PK] PRIMARY KEY CLUSTERED 
(
	[MaHH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HoaDon](
	[MaHD] [char](10) NOT NULL,
	[MaNV] [char](10) NULL,
	[MaKH] [char](10) NULL,
	[NgayLap] [datetime] NULL,
 CONSTRAINT [HD_MaHD_Pk] PRIMARY KEY CLUSTERED 
(
	[MaHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](3) NULL,
	[TuoiKH] [char](15) NULL,
 CONSTRAINT [KH_MaKH_PK] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[KhoHang]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KhoHang](
	[MaKho] [char](10) NOT NULL,
	[TenKho] [nvarchar](50) NULL,
	[MaThuKho] [char](10) NULL,
	[DiaChi] [nvarchar](30) NULL,
 CONSTRAINT [KH_MaKho_PK] PRIMARY KEY CLUSTERED 
(
	[MaKho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Login]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[UserName] [nchar](10) NOT NULL,
	[PassWord] [nchar](10) NULL,
	[MaQuyen] [int] NOT NULL,
 CONSTRAINT [PK_Login] PRIMARY KEY CLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](10) NOT NULL,
	[TenNV] [nvarchar](50) NULL,
	[ChucVu] [nvarchar](50) NULL,
	[Gioitinh] [nvarchar](3) NULL,
	[DiaChi] [nvarchar](50) NULL,
	[SDT] [char](15) NULL,
 CONSTRAINT [NV_MANV_PK] PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PhanQuyen]    Script Date: 29/04/2018 07:30:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanQuyen](
	[MaQuyen] [int] NOT NULL,
	[TenQuyen] [nvarchar](50) NULL,
 CONSTRAINT [PK_PhanQuyen] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [SoLuong], [ThanhTien]) VALUES (N'HD01      ', N'HH01           ', NULL, 100)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [SoLuong], [ThanhTien]) VALUES (N'hd0111    ', N'hh01           ', N'12        ', 3000000)
INSERT [dbo].[ChiTietHoaDon] ([MaHD], [MaHH], [SoLuong], [ThanhTien]) VALUES (N'hd0111    ', N'hh02           ', N'4         ', 1000000)
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'HH01           ', N'Xúc xích', N'Thực phẩm ăn nhanh', N'gói', 1, 20000, N'Hà Nội', CAST(0x133E0B00 AS Date))
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'HH02           ', N'Bim Bim', N'Thực phẩm ăn nhanh', N'gói', 1, 10000, N'Hải Phòng', CAST(0x323E0B00 AS Date))
INSERT [dbo].[HangHoa] ([MaHH], [TenHH], [ChungLoai], [DonViTinh], [TrongLuong], [GiaBan], [NoiSX], [HSD]) VALUES (N'HH03           ', N'Thịt bò', N'Thực phẩm tươi sống', N'kg', 3, 500000, N'Bắc Giang', CAST(0xF33D0B00 AS Date))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap]) VALUES (N'HD01      ', N'NV01      ', N'KH01      ', CAST(0x0000A85B00000000 AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap]) VALUES (N'hd0111    ', N'nv01      ', N'kh01      ', CAST(0x0000A8D100000000 AS DateTime))
INSERT [dbo].[HoaDon] ([MaHD], [MaNV], [MaKH], [NgayLap]) VALUES (N'HD02      ', N'NV03      ', N'KH03      ', CAST(0x0000A85B00000000 AS DateTime))
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [TuoiKH]) VALUES (N'KH01      ', N'Phan Thị Hạnh', N'Nữ', N'18             ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [TuoiKH]) VALUES (N'KH02      ', N'Nguyễn Thị Linh', N'Nữ', N'18             ')
INSERT [dbo].[KhachHang] ([MaKH], [TenKH], [GioiTinh], [TuoiKH]) VALUES (N'KH03      ', N'Hoàng Thị Hằng', N'Nữ', N'18             ')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'K01       ', N'Trường An ', N'NV01      ', N'Ninh Bình')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'K02       ', N'Tràng An ', N'NV02      ', N'Ninh Bình')
INSERT [dbo].[KhoHang] ([MaKho], [TenKho], [MaThuKho], [DiaChi]) VALUES (N'K03       ', N'Hồng hải', N'NV04      ', N'Hà Nội')
INSERT [dbo].[Login] ([UserName], [PassWord], [MaQuyen]) VALUES (N'manhtuan  ', N'123       ', 1)
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'NV01      ', N'Đào Thanh Tú', N'Bán Hàng', N'Nữ', N'Hà Nội', N'0934854738     ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'NV02      ', N'Nguyễn LAn Phương', N'Bán Hàng', N'Nữ', N'Ninh Bình', N'0923763483     ')
INSERT [dbo].[NhanVien] ([MaNV], [TenNV], [ChucVu], [Gioitinh], [DiaChi], [SDT]) VALUES (N'NV03      ', N'Phan Văn Nam', N'Giám Đốc', N'Nam', N'Bắc Ninh', N'0937643833     ')
INSERT [dbo].[PhanQuyen] ([MaQuyen], [TenQuyen]) VALUES (1, N'admin')
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChitietHoaDon_HangHoa] FOREIGN KEY([MaHH])
REFERENCES [dbo].[HangHoa] ([MaHH])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChitietHoaDon_HangHoa]
GO
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChitietHoaDon_HoaDon] FOREIGN KEY([MaHD])
REFERENCES [dbo].[HoaDon] ([MaHD])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChitietHoaDon_HoaDon]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HD_KH_FK] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KhachHang] ([MaKH])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HD_KH_FK]
GO
ALTER TABLE [dbo].[HoaDon]  WITH CHECK ADD  CONSTRAINT [HD_NV_FK] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[HoaDon] CHECK CONSTRAINT [HD_NV_FK]
GO
ALTER TABLE [dbo].[KhoHang]  WITH CHECK ADD  CONSTRAINT [KH_NV_FK] FOREIGN KEY([MaThuKho])
REFERENCES [dbo].[NhanVien] ([MaNV])
GO
ALTER TABLE [dbo].[KhoHang] CHECK CONSTRAINT [KH_NV_FK]
GO
ALTER TABLE [dbo].[Login]  WITH CHECK ADD  CONSTRAINT [FK_Login_PhanQuyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[PhanQuyen] ([MaQuyen])
GO
ALTER TABLE [dbo].[Login] CHECK CONSTRAINT [FK_Login_PhanQuyen]
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD CHECK  (([GioiTinh]=N'Nữ' OR [GioiTinh]='Nam'))
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD CHECK  (([Gioitinh]=N'Nữ' OR [Gioitinh]='Nam'))
GO
USE [master]
GO
